/* background attachement */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.big{
 background: url(./image/house\ blend\ coffee\ typed.jpg);
 background-size:cover;
 min-height: 100vh;
 background-repeat: no-repeat;
 align-items: center;
 color: red;
 text-align: center;
 font-size: 60px;
 justify-content: center;
 display: flex;
 background-attachment: fixed;
 background-position: center;
}
.small{
 background: url(./image/french\ roast\ typed.jpg);
 background-size:cover;
 min-height: 100vh;
 background-repeat: no-repeat;
 align-items: center;
 color: red;
 text-align: center;
 font-size: 60px;
 justify-content: center;
 display: flex;
 background-attachment: fixed;
 background-position: center;
}
.normal{
 background: url(./image/frech\ roast\ unsplash.jpg);
 background-size:cover;
 min-height: 100vh;
 background-repeat: no-repeat;
 align-items: center;
 color: red;
 text-align: center;
 font-size: 60px;
 justify-content: center;
 display: flex;
 background-attachment: fixed;
 background-position: center;
}
/* LINEAR GRADIENT */
.colours{
 margin: 10px;
 min-height: 60px;
 border: solid;
 width: 150px;
 border-width: 2px;
  /* color: aqua;
 background-color: blue; */
 background: linear-gradient(yellow, black, green, orange);
}
.colour-one{
 margin: 10px;
 min-height: 60px;
 border: solid;
 width: 150px;
 border-width: 2px;
 background: linear-gradient(100deg,red,green);
}
.colour-two{
 margin: 10px;
 min-height: 60px;
 border: solid;
 width: 150px;
 border-width: 2px;
 background: linear-gradient(to top, pink,purple, green,blue);

}
.colour-three{
 margin: 10px;
 min-height: 60px;
 border: solid;
 width: 150px;
 border-width: 2px;
 background: linear-gradient(rgba(0,220, 50, 0.2),rgba(0,220, 50, 0.8) );

}
.colour-four{
 margin: 10px;
 min-height: 60px;
 border: solid;
 width: 150px;
 border-width: 2px;
 background: linear-gradient(to left, rgba(0,220, 50, 0.2),rgba(0,220, 50, 0.8) );
  

}