
*{
 margin: 0;
 
}
.navbar{
 background: blue;
 color: white;
 height: 100px;
 font-size: 3rem;
 
}
 .empty{
 background: brown;
 min-height:calc(100vh - 100px);
 }
 .p{
  color: blueviolet;
  background:bisque ;
  height: 100px;
 }